<div id="events" class="events" style="padding-top:50px;padding-bottom:50px" >
  <div class="container-fluid" >
    <h2>Eligibility</h2>
    <ul>
      <li> The application must name a single principal applicant (PI) based at a higher education or research institution in Africa. The proposed research must be approved by the host institution.
      <li>The PI must have at least a Master’s degree in Computer Science, Engineering, Statistics, Mathematics or another relevant discipline.
      <li>Other key persons can be included in the application. Key persons should be aware of their roles and agree to accomplish the research objectives within the stated time period. We encourage collaboration across multiple disciplines.
      <li>Applicants can submit more than one application. However, we encourage applicants to focus on writing a single competitive application. Present your best idea.
    </ul>
  </div>
  <div class="container-fluid">
    <h2>Scope and Impact</h2>
    <p> The proposed research should clearly address a problem affecting a local community in Africa and must have a positive impact. We encourage emerging scholars with diverse expertise and perspectives to apply to this opportunity.

    <p> Areas of interest include but are not limited to those mentioned below:

    <ul>
      <li>Data science, and machine learning applications to
        <ul>
          <li>Agriculture: plant and animals disease diagnosis, and crop management
          <li>Health: disease diagnosis, disease management, health education, and mobile health tools
          <li>Environmental conservation etc
        </ul>
      <li>Methods development: data science, AI, and machine learning
      <li>COVID-19 research including, data collection and visualization tools, disease and economic modeling, impacts of COVID-19 on the health of women, girls, and children, misinformation, design and development of new tools and resources, etc.
      <li>Research related to the locust invasion including, food insecurity, economic impact etc
    </ul>
    <p> We encourage new and diverse approaches to solving existing problems. The proposed research projects do not need to fit perfectly within the topics specified.
  </div>

  <div class="container-fluid" >
    <h2>Evaluation Criteria</h2>
    <p> Proposed projects will be evaluated based on the following criteria. We encourage applicants to use this checklist to assess their proposal before submitting.

      <ul>
        <li>The proposed project involves the application of data science, AI, or machine learning to a relevant problem or development of new theory.
        <li>The team includes relevant domain expertise.
        <li>The proposed research has a clear data management plan including sharing of data resources, code and documentation. We encourage open source code and sharing of data.
        <li>The data collection and management plan discusses ethical considerations including, approval by relevant review boards.
        <li>The project can be completed in one year, with relevant milestones clearly defined.
        <li>The budget is clear and realistic. The budget should not exceed USD 10,000 with all items clearly justified.
        <li>The proposal discusses student participation or impact on capacity building efforts.
        <li>The proposal includes a plan for dissemination of findings for the benefit of the wider community (e.g., presentation at DSA).
    </ul>
  </div>

  <div class="container-fluid" >
    <h2>Evaluation</h2>
    <p> All proposed research will be evaluated by members of the DSA Board and a Facebook representative, and scored on the above evaluation criteria.
  </div>




  <div class="container-fluid" >
    <h2>To Apply</h2>

    <p>Submit a proposal through Google forms.  The following materials are required:
      <ul>
        <li>A summary of the project (2 pages). The summary should clearly describe the idea or problem, a description of the methods and how the approach will be evaluated, any relevant prior research, anticipated outcomes and societal impact. Also clearly describe how the project will be implemented or deployed in a relevant setting. Include a project timeline with key milestones.
        <li>A budget description (1 page). A detailed description of how the funds will be spent, including justifications.
        <li>Curriculum Vitae (CV) of the principal investigator and ALL key project participants. Also include links to Google Scholar or LinkedIn pages.
        <li>Administrative contact details and tax information for the PI’s organization.
      </ul>
    <p>The submission should include a cover page listing the title, and abstract of the project. The application can be edited until the submission deadline.
  </div>



  <div class="container-fluid" >
    <h2>Funds Administration</h2>
    <p> Funds will be disbursed to the PI’s host institution.
  </div>

  <div class="container-fluid" >
    <h2>Terms and Conditions</h2>
    <ul>
      <li> The applicant must have authority from the host institution to apply for the grant.
      <li> An authorised representative from the host institution will need to sign a grant agreement.
    </ul>
  </div>






</div>
