<div id="events" class="events" style="padding-top:50px;padding-bottom:50px" >
  <div class="container-fluid" >
    <h2>Eligibility</h2>
    <ul>
      <li> The application must name a single principal applicant (PI) based at a higher education or research institution in Africa. The proposed research must be approved by the host institution.
      <li>The PI must have at least a Master’s degree in Computer Science, Engineering, Statistics, Mathematics or another relevant discipline.
      <li>Other key persons can be included in the application. Key persons should be aware of their roles and agree to accomplish the research objectives within the stated time period. We encourage collaboration across multiple disciplines.
      <li>Applicants can submit more than one application. However, we encourage applicants to focus on writing a single competitive application. Present your best idea.
    </ul>
  </div>
</div>
